/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/color_value/light-dark */

#title {
    text-align: center;
    font-size: 4em;
    font-weight: bolder;
    font-family: "Fredericka the Great", serif;
}

body {
    font-size: 100%;
    background-image: url(./assets/5006.png);
    background-color: antiquewhite;
}

/* class properties lead with . */
.footer {
    font-size: .7em;
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #555; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* id properties lead with # */

#desc {
    padding: 15px;
    width: 70%;
    margin: auto;
    text-align: justify;
    background-color: rgba(222, 215, 171, .4);
    font-size: 1.1em;
}

#input {
    margin-top: 30px;
}

#return {
    width: 50%;
    margin: 0 auto;
    border-style: outset;
    padding: 10px 10px 10px 10px;
    font-size: 1.1em;
}

#output {
    margin-top: 20px;
}